<nav class="sidebar">
    <div class="logo">
        <i class="fas fa-code"></i>
        <span>GOVATHON</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="index.html"><i class="fas fa-home"></i> Tableau de bord</a>
        </li>
        <li>
            <a href="sectors.html"><i class="fas fa-industry"></i> Secteurs</a>
        </li>
        <li>
            <a href="projects.html"><i class="fas fa-project-diagram"></i> Projets</a>
        </li>
        <li>
            <a href="jury.html"><i class="fas fa-user-tie"></i> Jury</a>
        </li>
        <li>
            <a href="criteria.html"><i class="fas fa-list-check"></i> Critères</a>
        </li>
        <li>
            <a href="votes.html"><i class="fas fa-vote-yea"></i> Votes</a>
        </li>
        <li>
            <a href="stages.html"><i class="fas fa-tasks"></i> Étapes</a>
        </li>
        <li>
            <a href="settings.html"><i class="fas fa-cog"></i> Paramètres</a>
        </li>
    </ul>
</nav>